<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>My Jupyter Notebook on Skills Network <h1/>

<b>Khamdullo Nasimov <b/>

<i>I am interested in data science because this is a profession of the future. Data science requires not only technical skills but communicative and creative.<i/>

<h3>My code is bellow simple counting numbers from zero to ten<h3/>

In [4]:
z = 0
while z!=10:
    z+=1
    print(z)

1
2
3
4
5
6
7
8
9
10

<p>Numbered list example:</p>
<ol>
<li>Example 1</li>
<li>Example 2</li>
<li>Example 3</li>
</ol>
<hr/>
<p>Bulleted list example:</p>
<ul>
<li>Example 1</li>
<li>Example 2</li>
<li>Example 3</li>
</ul>
<hr/>
<p>Horizontal rule between:</p>